<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>recoverd-password</title>
</head>
<body>
    <section class="bg-stone-100 min-h-screen flex items-center justify-center">

        <div class="bg-gray-200 flex rounded-xl shadow-lg max-w-3xl p-5 items-center">
            <div class="px-10">
            <h2 class="text-4xl text-amber-400 font-bold text-2x1">Recuperar contraseña</h2>
            <form action="" class="mt-5 flex flex-col gap-4">
               
                <input class="p-2 rounded-xl bg-gray-100 border border-amber-200
                 mt-5" type="text" name="email" placeholder="Correo electrónico">
                
                <div class="flex justify-center gap-6 mt-5">
                    <a href="login.html" class="mt-3 bg-orange-400 rounded-xl text-white py-2 font-bold text-xl hover:scale-110 duration-300 w-40 text-center">Volver</a>
                    <button class="mt-3 bg-amber-400 rounded-xl text-white py-2 font-bold text-xl hover:scale-110 duration-300 w-40">Continuar</button>
                    
                </div>
            </form>
    </section>
</body>
</html>