<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

</head>

<body class="bg-stone-100">

    <section class="flex min-h-screen">

        <div class="bg-gray-200 w-[200px] rounded-xl shadow-lg flex flex-col justify-between items-center py-6">

            <div class="flex flex-col gap-6 items-center">
                <h2 class="text-3xl text-amber-400 font-bold">Menú</h2>

                <a href="/usuarios/panel" class="hover:text-amber-400 p-2 rounded-full transition-colors cursor-pointer hover:scale-110">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                        <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                        <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                    </svg>
                </a>

                <a href="#top" class="hover:text-amber-400 p-2 rounded-full transition-colors cursor-pointer hover:scale-110">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M4 11.319c0 3.102 .444 5.319 2.222 7.978c1.351 1.797 3.156 2.247 5.08 .988c.426 -.268 .97 -.268 1.397 0c1.923 1.26 3.728 .809 5.079 -.988c1.778 -2.66 2.222 -4.876 2.222 -7.977c0 -2.661 -1.99 -5.32 -4.444 -5.32c-1.267 0 -2.41 .693 -3.22 1.44a.5 .5 0 0 1 -.672 0c-.809 -.746 -1.953 -1.44 -3.22 -1.44c-2.454 0 -4.444 2.66 -4.444 5.319" />
                        <path d="M7 12c0 -1.47 .454 -2.34 1.5 -3" />
                        <path d="M12 7c0 -1.2 .867 -4 3 -4" />
                    </svg>
                </a>
            </div>

            <div class="mb-4">
                <a href="/" class="hover:text-amber-400 p-2 rounded-full transition-colors cursor-pointer hover:scale-110">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 6a7.75 7.75 0 1 0 10 0" />
                        <path d="M12 4l0 8" />
                    </svg>
                </a>
            </div>
        </div>

        </div>

        <div class="bg-stone-100 flex-1">

            <div class="px-10 py-6">
                <h2 class="text-3xl text-amber-400 font-bold mb-6">Productos</h2>

                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-10">
                        <input class="p-2  rounded-xl bg-gray-100 border w-250" name="Buscar" placeholder="Buscar">
                    </div>

                    <div class="col-span-2 flex-row">
                        <button onclick="openModal('createProductsModal')"
                            class="bg-amber-400 font-bold text-white p-2 rounded-xl float-end cursor-pointer hover:scale-110">+
                            Nuevo producto</button>
                    </div>
                </div>


                <table class="table w-full mt-16 rounded-full">
                    <thead>
                        <tr class="bg-amber-100 ">
                            <th class="px-4 py-2 font-semibold">Id</th>
                            <th class="px-4 py-2 font-semibold">Referencia</th>
                            <th class="px-4 py-2 font-semibold">Nombre</th>
                            <th class="px-4 py-2 font-semibold">Descripción</th>
                            <th class="px-4 py-2 font-semibold">Valor unitario</th>
                            <th class="px-4 py-2 font-semibold">Estado</th>
                            <th class="px-4 py-2 font-semibold">

                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">P01</td>
                            <td class="text-center">Pastas</td>
                            <td class="text-center">Espaguettis doria</td>
                            <td class="text-center">$3.500</td>
                            <td class="text-center"><span
                                    class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-green-600/20 ring-inset">Activo</span>
                            </td>
                            <!-- <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-red-600/10 ring-inset">Inactivo</span> -->
                            <td class="text-center relative overflow-visible">
                                <div class="relative inline-block text-left">
                                    <button onclick="toggleDropdown(this)"
                                        class="inline-flex items-center text-sm font-medium cursor-pointer hover:bg-amber-400 p-1.5 text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none"
                                        type="button">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                        </svg>
                                    </button>
                                    <div
                                        class="dropdown-menu absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-50 hidden">
                                        <a href="#" onclick="openModal('editProductsModal')"
                                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Editar</a>
                                        <a href="#"
                                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Inhabilitar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <div id="createProductsModal" class="fixed inset-0 items-center justify-center z-50 hidden ">
        <div class="bg-white w-3/5 h-3/5 mb-40 rounded-lg shadow-lg p-6 relative">
            <button onclick="closeModal('createProductsModal')"
                class="absolute top-2 right-2 text-gray-500 hover:text-black text-xl font-bold cursor-pointer">
                ×
            </button>

            <h2 class="text-xl font-semibold mb-4 text-gray-800">Nuevo producto</h2>
            <form action="" class="mt-5 flex flex-col gap-4">
                <input class="p-2 mt-8 rounded-xl bg-gray-100 border border-amber-200
                " type="text" name="Referencia" placeholder="Referencia">
                <input class="p-2 rounded-xl bg-gray-100 border border-amber-200
                " type="text" name="Nombre" placeholder="Nombre">
                <input class="p-2 rounded-xl bg-gray-100 border border-amber-200
                " type="text" name="Descripción" placeholder="Descripción">
                <input class="p-2 rounded-xl bg-gray-100 border border-amber-200
                " type="number" name="ValorUnitario" placeholder="Valor unitario">
            </form>
            <br>
            <div class="flex justify-end">
                <button onclick="closeModal('createProductsModal')"
                    class="bg-gray-300 text-gray-800 px-4 py-2 rounded-xl hover:bg-gray-400 mr-2 cursor-pointer hover:scale-110">Cancelar</button>
                <button onclick="showAlert('crear')"
                    class="bg-amber-400 text-white px-4 py-2 rounded-xl hover:bg-amber-500 cursor-pointer hover:scale-110">Crear</button>
            </div>
        </div>
    </div>


    <div id="editProductsModal" class="fixed inset-0 items-center justify-center z-50 hidden ">
        <div class="bg-white w-3/5 h-3/5 mb-40 rounded-lg shadow-lg p-6 relative">
            <button onclick="closeModal('editProductsModal')"
                class="absolute top-2 right-2 text-gray-500 hover:text-black text-xl font-bold cursor-pointer">
                ×
            </button>

            <h2 class="text-xl font-semibold mb-4 text-gray-800">Editar producto</h2>
            <form action="" class="mt-5 flex flex-col gap-4">
                <input class="p-2 mt-8 rounded-xl bg-gray-100 border border-amber-200
                " type="text" name="Referencia" placeholder="Referencia" readonly>
                <input class="p-2 rounded-xl bg-gray-100 border border-amber-200
                " type="text" name="Nombre" placeholder="Nombre">
                <input class="p-2 rounded-xl bg-gray-100 border border-amber-200
                " type="text" name="Descripción" placeholder="Descripción">
                <input class="p-2 rounded-xl bg-gray-100 border border-amber-200
                " type="number" name="ValorUnitario" placeholder="Valor Unitario">
            </form>
            <br>
            <div class="flex justify-end">
                <button onclick="closeModal('editProductsModal')"
                    class="bg-gray-300 text-gray-800 px-4 py-2 rounded-xl hover:bg-gray-400 mr-2 cursor-pointer hover:scale-110">Cancelar</button>
                <button onclick="showAlert('editar')"
                    class="bg-amber-400 text-white px-4 py-2 rounded-xl hover:bg-amber-500 cursor-pointer hover:scale-110">Actualizar</button>
            </div>
        </div>
    </div>


</body>

<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function showAlert(type) {

        if (type === "crear") {
            Swal.fire({
                title: 'Genial!',
                text: 'El usuario ha sido creado exitosamente.',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            })
        }
        else {
            Swal.fire({
                title: 'Genial!',
                text: 'El usuario ha sido editado exitosamente.',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            })
        }
    }

    function toggleDropdown(button) {
        const menu = button.nextElementSibling;
        const isHidden = menu.classList.contains('hidden');
        document.querySelectorAll('.dropdown-menu').forEach(el => el.classList.add('hidden'));
        if (isHidden) {
            menu.classList.remove('hidden');
            menu.classList.add('flex')
        } else {
            menu.classList.add('hidden');
        }
    }

    document.addEventListener('click', function (event) {
        const isDropdownButton = event.target.closest('button[onclick="toggleDropdown(this)"]');
        if (!isDropdownButton) {
            document.querySelectorAll('.dropdown-menu').forEach(el => el.classList.add('hidden'));
        }
    });

    function openModal(element) {
        document.getElementById(element).classList.remove("hidden");
        document.getElementById(element).classList.add('flex')
    }

    function closeModal(element) {
        document.getElementById(element).classList.add("hidden");
    }
</script>

</html>